h1, h2, h3, h4, h5, h6 {
    font-family: "Anton", serif;
}

body {
    text-align: center;
    background: #E6E6E6;
    font-family: "Abel", sans-serif;
}

#nav {
    background: white;
}

#nav img {
    width: 105px;
}
