h1, h2, h3, h4, h5, h6 {
    font-family: "Anton", serif;
    text-align: center;
    text-transform: uppercase;
}

body {
    background: #f0f0f0;
    font-family: "Abel", sans-serif;
}

hr {
    border-color: darkgray;
    border-width: 2px;
    width: 100%;
}

img {
    border: 6px solid #E6E6E6;
}

/* Custom, iPhone Retina */ 
@media only screen and (min-width : 320px) {

    .brand {
        text-align: center;
        font-size: 4em;
    }

    #nav {
        background: white;
        text-align: center;
        margin: 32px 0;
        height: 60px;
        width: 100%;
    }

    #nav img {
        margin: -20px auto;
        background: transparent;
        border: none;
    }

    #nav a, #xs-nav a {
        text-decoration: none;
        text-transform: uppercase;
        color: #000;
        line-height: 4em;
    }

    #xs-nav {
        text-align: center;
    }

    #circles {
        margin-bottom: 16px;
    }

    .circle {
        border-radius: 50%;
        height: 150px;
        width: 150px;
        border: .3em solid white;
        text-transform: uppercase;
        font-weight: bolder;
        font-size: 1.5em;
        color: white;
        margin: 16px;
    }

    .design {
        background: #E6563B;
    }

    .develop {
        background: #EB9D3A;
    }

    .support {
        background: #7CB06C;
    }

    .host {
        background: #00ABA9;
    }

    .card {
        box-sizing: border-box;
        padding: 16px;

    }

    .card > h5 {
        text-align: left;
        display: inline-block;
        font-size: .3em;
    }

    .icon {
        width: 18px;
        height: 18px;
        border-radius: 50%;
        border: none;
        text-transform: uppercase;
        font-weight: bolder;
        font-size: 12px;
        float: right;
        margin-top: .3em;
    }

}

.fa-twitter  {
    color: deepskyblue;
    text-align: left;
    font-size: 1.5em;
}

.fa-twitter+h5 {
    display: inline-block;
}

.article > img, .article h3 {
    display: inline-block;
    text-wrap: normal;
    margin-bottom: 35px;
}


/* Extra Small Devices, Phones */ 
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
    
    .content-header {
        text-align: left;
    }

    #nav{
        display: inline-flex;
    }

}


/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}
