h1, h2, h3, h4, h5, h6 {
    font-family: "Anton", serif;
    text-align: center;
    text-transform: uppercase;
}

body {
    background: #E6E6E6;
    font-family: "Abel", sans-serif;
}

hr {
    border-color: darkgray;
    border-width: 2px;
    width: 100%;
}

/* Custom, iPhone Retina */ 
@media only screen and (min-width : 320px) {

    .brand {
        text-align: center;
        font-size: 4em;
    }

    #nav {
        background: white;
        text-align: center;
        margin: 32px 0;
        height: 60px;
    }

    #nav img {
        margin: -20px auto;
        background: transparent;
    }

    #nav a, #xs-nav a {
        text-decoration: none;
        text-transform: uppercase;
        color: #000;
        line-height: 4em;
    }

    #xs-nav {
        text-align: center;
    }

    #circles {
        margin-bottom: 16px;
    }

    .circle {
        border-radius: 50%;
        height: 150px;
        width: 150px;
        border: .3em solid white;
        text-transform: uppercase;
        font-weight: bolder;
        font-size: 1.5em;
        color: white;
        margin: 16px;
    }

    .design {
        background: #E6563B;
    }

    .develop {
        background: #EB9D3A;
    }

    .support {
        background: #7CB06C;
    }
    
    .host {
        background: #00ABA9;
    }

    .card {
        box-sizing: border-box;
        margin: 32px;
    }

    .card > h3 {
        text-align: left;
        display: inline-block;
    }

    .icon {
        width: 18px;
        height: 18px;
        border-radius: 50%;
        border: none;
        text-transform: uppercase;
        font-weight: bolder;
        font-size: 12px;
        padding: 0;
    }
}

/* Extra Small Devices, Phones */ 
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
    
    .content-header {
        text-align: left;
    }
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}
